#root {
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: whitesmoke;
  justify-content: center;
  text-align: center;
  color: #0096c7;
  text-decoration: none;

}

html {
  scroll-behavior: smooth;
}

#navbar {
  margin: 5px;
  margin-right: 5px;
}

button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  margin-right: 5px;
}


img {
  display: inline-block;
}